@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0px;
}
html::-moz-scrollbar {
  width: 0px;
}
html::-ms-scrollbar {
  width: 0px;
}

.navbar {
  width: 100%;
  background: #fff;
}
.navbar .nav-links > a {
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar .nav-links .dropdown {
  position: relative;
}
.navbar .nav-links .dropdown .dropdown-title {
  font-size: 13px;
  padding: 10px 0px 10px 0px;
}
.navbar .nav-links .dropdown .dropdown-links {
  position: absolute;
  top: 40px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s linear;
  z-index: 5;
}
.navbar .nav-links .dropdown .dropdown-links > div {
  width: 130px;
  display: block;
  background: #1d0900;
  padding: 4px 0px;
}
.navbar .nav-links .dropdown .dropdown-links > div a {
  font-size: 12px;
  display: block;
  padding: 9px 9px;
  color: #ffffff;
}
.navbar .nav-links .dropdown:hover .dropdown-links {
  max-height: 130px;
  transition: max-height 0.3s linear;
}

.hero-section {
  width: 100%;
  min-height: 600px;
  background: url("./assets/globe.png") no-repeat center center/cover;
  background-size: contain;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
}
.hero-section .logo img {
  filter: drop-shadow(1px 1px 5px #aaa);
}
.hero-section .content {
  perspective: 1000px;
}

.scroll-container {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Add pseudo-elements for the white inner shadow */
  /* Blur elements as they reach the edges */
}
.scroll-container::before, .scroll-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px; /* Adjust as needed for shadow size */
  pointer-events: none; /* Ensure no interference with interactions */
  z-index: 2; /* Keep it above the scrolling content */
}
.scroll-container::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}
.scroll-container::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}
.scroll-container > ul {
  animation: scroll 20s linear infinite;
  position: relative;
  z-index: 1; /* Keep the content below the pseudo-elements */
}
.scroll-container > ul li {
  transition: filter 0.3s; /* Smooth transition for the blur effect */
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 96px));
  }
}/*# sourceMappingURL=App.css.map */