@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: transparent;

  .nav-links {
    > a {
      font-size: 13px;
      user-select: none;
    }
    .dropdown {
      position: relative;

      .dropdown-title {
        font-size: 13px;
        padding: 10px 0px 10px 0px;
      }
      .dropdown-links {
        position: absolute;
        top: 40px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s linear;

        > div {
          width: 130px;
          display: block;
          background: rgba($color: #1d0900, $alpha: 0.9);
          padding: 4px 0px;

          a {
            font-size: 12px;
            display: block;
            padding: 9px 9px;
            color: #ffffff;
          }
        }
      }

      &:hover {
        .dropdown-links {
          max-height: 130px;
          transition: max-height 0.3s linear;
        }
      }
    }
  }
}
